<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>
<p>
<strong>Upcoming Appointments</strong>
<table>
  <thead>
  <tr>
    <th>Patient Name</th>
    <th>Appointment Date</th>
    <th>Days Remaining</th>
  </tr>
  </thead>
  <tbody>
  <% @specialist.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= (appointment.appointment_date - Date.today).to_i %></td>

      </tr>
  <% end %>
  </tbody>
</table>

</p>
<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
