<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>

<p>
  <strong>Specialist History:</strong><br>
  <table>
  <thead>
  <tr>
  <th>Specialist</th>
  <th>Date of Visit</th>
  </tr>
  </thead>
<tbody>
  <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.specialist.name %></td>
        <td><%= appointment.appointment_date %></td>
              </tr>
  <% end %>
  </tbody>
  </table>

</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
